@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Uh Oh!";
}

@Styles.Render("~/Content/Styles/Error.css")


<div class="">
    <section class="block-parallax-1-w">
        <div class="parallax-bg-w"></div>
        <div class="md-box-w">
            <img src="~/Content/Images/error/404_comic.png" class="error-image">
        </div>
    </section>
</div>