@Styles.Render("~/Content/Styles/home-index.min.css")

@{
    ViewBag.Title = "backslash";
}

<div class="home-parallax-container">
    <section class="parallax-top">
        <div class="parallax-bg"></div>
        <div class="md-box">
            <img src="/Content/Images/home/lagerfeld-rb_comic.png" class="left-lagerfeld">
        </div>
    </section>

    <section class="description-container">
        @*website summary/description here*@
    </section>

    <section class="parallax-bottom">
        <div class="parallax-bg"></div>
        <div class="md-box">
            <img src="/Content/Images/home/lagerfeld-lb_comic.png" class="right-lagerfeld">
        </div>
    </section>

</div>